rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // ให้สิทธิ์เขียนทุกคนที่ล็อกอิน (ชั่วคราว)
    match /{document=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
  }
}
